@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  overscroll-behavior: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat), sans-serif;
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
button,
input,
textarea,
select {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
